.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 960px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 100%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  display: flex;
  flex-direction: row-reverse;
}
.card .image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .image div{
  margin: 0 2em;
  border-radius: 50%;
  border: 8px dashed #01468f46;
}
.card h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 2.4rem;
  font-weight: 400;
  color: #000000c4;
  margin-bottom: 0;
}
.card h4 {
  font-size: 1.3rem;
  font-weight: 400;
  color: #616161;
  margin-top: 0.3em;
}
.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  margin-bottom: 0;
  margin-top: .8em;
}

.card p {
  margin: 0.4em 0;
  font-size: 1rem;
  line-height: 1.7;
  color: #000000c4;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
